.app {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0 2rem;
}

.menu ul {
  display: flex;
}

.menu ul > li {
  margin-right: 1rem;
  text-decoration: none;
  list-style: none;
}
